.logo{
	font-size: 23px;
	color: #008cff;
	/* font-weight: bolder; */
	line-height: 80px;
	letter-spacing: 4px;
	margin-right: 145px;
}
header{
	height: 80px;
	font-size: 14px;
	line-height: 80px;
	color: #b29999;
}

header i{
	color: #333;
}
.header-a{
	color: #b29999;
	margin-left: 40px;
}
.header-a:hover{
	color: #008cff;
}
section{
	background-color: #f4f6fa;
	min-height: 600px;
	overflow: auto;
}
.car-header{
	margin-top: 10px;
	height: 50px;
	border: 1px solid #efefef;
	background-color: white;
	line-height: 50px;
}
.all-select{
	width: 18px;
	height: 18px;
	margin-left: 25px;
	position: relative;
	top: 3px;
}
.all-select+span{
	margin-left: 10px;
	color: #333;
	font-size: 14px;
}
.car-header i{
	color: #b2b2b2;
	font-size: 14px;
}
.car-header i:nth-of-type(1){
	margin-left: 630px;
}
.car-header i:nth-of-type(2){
	margin-left: 160px;
}
.car-header i:nth-of-type(3){
	margin-left: 140px;
}
.car-section{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #efefef;
	background-color: white;
}
.car-li{
	height: 150px;
	background-color: #fff;
	line-height: 150px;
	position: relative;
}
.car-img{
	width: 100px;
	height: 100px;
	margin-left: 30px;
}
.car-li .car-num{
	position: absolute;
	top: 60px;
	left: 840px;
	width: 87px;
	height: 26px;
	border: 1px solid #efefef;
	line-height: 26px;

}
.car-li .car-goods{
	position: absolute;
	top: 55px;
	left: 200px;
	width: 250px;
	height: 52px;
	/* border: 1px solid #333; */
	line-height: 26px;
	font-size: 14px;
	color: #8c8c8c;
}
.car-goods h1{
	color: #262626;
	font-size: 16px;
}
.car-li .car-price{
	position: absolute;
	top: 60px;
	left: 630px;
	width: 200px;
	height: 26px;
	/* border: 1px solid #333; */
	line-height: 26px;
	font-size: 14px;
	color: #8c8c8c;
}
.car-small-price{
	position: absolute;
	top: 60px;
	left: 1040px;
	width: 150px;
	height: 26px;
	/* border: 1px solid #333; */
	line-height: 26px;
	color: #e02b41;
	font-size: 14px;
}

.car-num-less,.car-num-more{
	width: 24px;
	height: 24px;
	background-color: #fff;
	position: relative;
	border: none;
	outline: none;
	font-size: 20px;
	cursor: pointer;
}
.car-num-less:hover,.car-num-more:hover{
	color: #0077AA;
}
.car-num-less{
	border-right: 1px solid #efefef;
}
.car-num-more{
	border-left: 1px solid #efefef;
	left: 0px;
}
.car-num span{
	color: #333333;
	text-align: center;
	width: 25px;
	display: inline-block;
	position: relative;
}
.car-footer{
	height: 70px;
	line-height: 70px;
	border: 1px solid #efefef;
	background-color: white;
}
.all-select{
	position: relative;
	top: 0px;
	background-color: #fff;
	outline: none;
	border: 1px solid #333;
	cursor: pointer;
}
.car-footer span{
	color: #595959;
	font-size: 14px;
}
.car-footer span:nth-of-type(2){
	margin-left: 16px;
	cursor: pointer;
}
.car-footer span:nth-of-type(3){
	margin-left: 20px;
}
.car-footer span:nth-of-type(5){
	margin-left: 430px;
}
.car-footer i:nth-of-type(1){
	color: #595959;
	font-size: 14px;
}
.car-footer i:nth-of-type(2){
	color: #00c3f6;
	font-size: 14px;
}
.car-footer i:nth-of-type(2){
	color: #e42b41;
	font-size: 14px;
}
.car-footer i:nth-of-type(3){
	color: #e02b41;
	font-size: 16px;
	font-weight: bolder;
}
.car-footer u{
	color: #e02b41;
	font-size: 14px;
	font-weight: bolder;
}
.car-footer a{
	position: relative;
	display: inline-block;
	background-color: rgb(246,101,103);
	color: #fff;
	font-size: 14px;
	width: 98px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 3px;
}
.no-load{
	height: 600px;
	background-color: #fff;
	width: 1240px;
	position: relative;
	text-align: center;
	padding-top: 100px;
	box-sizing: border-box;
	display: none;
}
.no-load img{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.no-load h1{
	font-size: 20px;
	color: #666666;
	font-weight: bolder;
}
.no-load h2{
	margin-top: 20px;
	font-size: 16px;
	color: #666666;
}
.no-load a{
	display: inline-block;
	margin-top: 20px;
	width: 130px;
	height: 36px;
	background-color: #00c3f5;
	color: #fff;
	border-radius: 3px;
	line-height: 36px;
}
